<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924670692752-4t2nqnbbbqtikmp8fsde317dif8hoif3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924670692752-4t2nqnbbbqtikmp8fsde317dif8hoif3</string>
	<key>API_KEY</key>
	<string>AIzaSyBFVs_59F6MIgHhzkXKUpfQyuPqHfIknaU</string>
	<key>GCM_SENDER_ID</key>
	<string>924670692752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartWaterMeter</string>
	<key>PROJECT_ID</key>
	<string>ikanku-d709b</string>
	<key>STORAGE_BUCKET</key>
	<string>ikanku-d709b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924670692752:ios:b48bb638937af3e1c6b715</string>
</dict>
</plist>